<div class="form-group">

  <div class="form-group">
    <label for="buildingName" required>Name </label>
    <input type="text" name="" id="buildingName" class="form-control" 
      aria-describedby="buildingNameHelpId" [(ngModel)]="model.name" required>
    <small id="buildingNameHelpId" class="text-muted">
      Name of the building</small>
  </div>

  <div class="form-group">
    <label for="buildingAddress">Address </label>
    <textarea type="text" name="buildingAddress" id="buildingAddress" 
      class="form-control" aria-describedby="buildingAddressHelpId" 
      [(ngModel)]="model.address" rows="3"></textarea>
    <small id="buildingAddressHelpId" class="text-muted">
      Address of the building</small>
  </div>

  <div class="form-group">
    <label for="buildingDescription">Description </label>
    <textarea type="text" name="buildingAddress" id="buildingDescription" 
      class="form-control" aria-describedby="buildingDescriptionHelpId" 
      [(ngModel)]="model.description" rows="5"></textarea>
    <small id="buildingDescriptionHelpId" class="text-muted">
      Address of the building</small>
  </div>
</div>
